body {
  background-image: url("../../images/z1.jpeg");
}

.image-container {
    position: relative;
  }
  
  .sword-image {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
  
  .text-container {
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Hylia serif';
    font-size: 3em;
    color: springgreen;
    display: inline-block;
    -webkit-text-stroke: 2px black;
  }

.link {
    color: aquamarine; 
    text-decoration: none;    
}
.link:visited {
    -webkit-text-stroke: 2px black;
    text-decoration: none;    
}
@media screen and (min-width: 400) {
  body {
    display: none;
  }
}
