.image-container {
    position: relative;
  }
  
  .text-container {
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Hylia serif';
    font-size: 3em;
    color: springgreen;
    -webkit-text-stroke: 2px black;
  }

.link {
    color: aquamarine; 
    text-decoration: none;    
}
.link:visited {
    -webkit-text-stroke: 2px black;
    text-decoration: none;    
}
.sword {
  width: 10%;
  height: auto;
  transform: rotate(90deg);
}